
.setting-banner {
    background: #7E57C2;
    height: 58px;
    padding-top: 10px;
    width: 700px;
    text-align: right;
    padding-right: 50px;
    margin-top: 100px;
    position: relative;
}
.setting-banner .triangle {
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 50px solid #313131;
    border-top: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid #313131;
    position: absolute;
    top: -20px;
    right: -30px;
    transform: rotate(-30deg);
}
.container.settings-container{
    padding: 0;
}
.setting-rectangle {
    border-radius: 10px;
    background: #444444;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px 35px;
    margin-left: 100px;
    min-width: 450px;
    margin-right: 100%;
}