img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    background-color: transparent!important;
    width: 207px;
    /* height: 329px; */
    display: flex!important;
    flex-direction: column;
    margin: 26px;
    color: black;
    overflow: hidden;
    background: none;
    border: none!important;
    border-radius: .5rem!important;
}
.upperCardInfo {
    background: linear-gradient(90deg, #C4008B 34.8%, #c4005d 100%);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 28px!important;
}

.upperCardInfoLeft {
    padding-left: 1em;
}

.upperCardInfoRight {
    display: flex;
    padding-right: 1em;
    align-items: center;
}

.cardAssetName {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px!important;
    line-height: 14px!important;
}

.networkType {
    color: white;
    width: 1.4em;
    height: 1.4em;
}

.itemType {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.2em;
    padding-left: 0.3em;
    padding: 3px 0;
}

.itemTypeIcon {
    align-self: center;
    width: 1.3em;
    height: 1.3em;
}

.itemTypeExt {
    line-height: 1.2em;
    font-size: 0.65em;
    text-transform: uppercase;
}

.assetImage {
    background-color: white;
    width: 207px;
    height: 190px;
}

.lowerCardInfo {
    background: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 115px;
}
.lowerCardInfo span,
.lowerCardInfo p{
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
}
.lowerCardInfo span.large, 
.lowerCardInfo p.large {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

.lowerCardInfoTopLeftSpan {
    color: white;
    position: absolute;
    left: 50px;
    top: 3px;
}
.lowerCardInfoTopLeftSpan.large{
    left: 85px;
    top: 6px;
}


.lowerCardInfoTop { 
    background: linear-gradient(90deg, #C4008B 34.8%, #c4005d 100%);
    /* display: flex;
    justify-content: space-between; */
    padding: 0.1em 0.5em 0.1em 0;
    position: relative;
    height: 16px;
}

.lowerCardInfoTopLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67%;
}

.lowerCardInfoTopLeftGroup {
    display: flex;
    position: absolute;
    top: 3px;
}

.creator {
    background-color: white;
    padding-left: 0.5em;
}

.creatorIcon img {
    width: 15px;
    height: 17px;
    border-radius: 50%;
}

.creatorName {
    background: #444444;
    /* display: none; */
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    left: 50%;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.owner {
    padding-left: 0.1em;
    padding-right: 0.5em;
    background-color: white;
}

.ownerIcon img {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
}

.ownerName {
    background: #777777;
}

.arrow-down {
    background-color: transparent;
    width:0; 
    height:0; 
    border-right: 1.2em solid transparent;
    border-top: 1.2em solid transparent;
    border-left: 1.2em solid white;
    border-bottom: 1.2em solid white;
}

.lowerCardInfoTopClear {
    width: 3em;
    height: 1em;
}

.edition {
    color: white;
    font-weight: 700;
    font-size: 0.8em;
}

.greaseLoadedIntoAsset {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 3px;
    right: 10px;
}
.greaseLoadedIntoAsset.large{
    top: 6px;
}

.lowerCardInfoMiddle {
    background: white;
    height: 100px;
}

.assetDescription {
    width: 100%;
    background: white;
    font-style: italic;
    word-wrap: break-word;
    text-align: left!important;
    padding: 15px;
}

.lowerCardInfoBottom {
    background: white;
    display: flex;
    justify-content: center;
    padding-bottom: 0.3em;
    border-radius: 0px 0px 10px 10px;
}

.assetHash {
    font-size: .4em;
}

.card.small {
    width: 12em;
    height: 19em;
    padding: 1em;
}

.card.medium {

}

.card.large {
    width: 22em;
    height: 35em;
}

.upperCardInfo.small {
    border-radius: 9px 9px 0px 0px;
}

.upperCardInfo.medium {

}

.upperCardInfo.large {
    border-radius: 11px 11px 0px 0px;
    height: 40px!important;
}

.upperCardInfo.image {

}

.upperCardInfo.vrm {

}

.upperCardInfo.gltf {

}

.upperCardInfoLeft.small {
    padding-left: 0.75em;
    padding-bottom: 0.2em;
}

.upperCardInfoLeft.medium {

}

.upperCardInfoLeft.large {
    padding-left: 1em;
}


.upperCardInfoRight.small {
    padding-right: 0.75em;
}

.upperCardInfoRight.medium {

}

.upperCardInfoRight.large {
    padding-right: 1em;
}

.cardAssetName.small {
    font-size: 10px;
    font-weight: 500;
}

.cardAssetName.medium {
    font-size: 0.75em;
}

.cardAssetName.large {
    font-size: 15px!important;
}

.networkType.small {
    width: 0.9em;
    height: 0.9em;
}

.networkType.medium {

}

.networkType.large {
    width: 1.5em;
    height: 1.5em;
}

.itemType.small {
    height: 1.8em;
}

.itemType.medium {
    
}

.itemType.large {
    height: 2.7em;
    padding-left: 0.5em;
}

.itemTypeIcon.small {
    width: 0.9em;
    height: 0.9em;
}

.itemTypeIcon.medium {

}

.itemTypeIcon.large {
    width: 1.3em;
    height: 1.3em;
}

.itemTypeExt.small {
    display: none;
}

.itemTypeExt.medium {

}

.itemTypeExt.large {
    line-height: 1.5em;
    font-size: 0.7em;
}

.assetImage.small {
    width: 12em;
    height: 10.5em;
}

.assetImage.medium {

}

.assetImage.large {
    height: 19em;
    width: 22em;
}
/* .lowerCardInfo.small {

}

.lowerCardInfo.medium {

}

.lowerCardInfo.large {

} */
.lowerCardInfoTop.small {
    padding: 0.05em 0.5em 0.05em 0;
}

/* .lowerCardInfoTop.medium {

} */

.lowerCardInfoTop.large {
    padding: 0.2em 0.5em 0.2em 0;
    height: 30px;
}
/* 
.lowerCardInfoTopLeft.small {

}

.lowerCardInfoTopLeft.medium {

} */

.lowerCardInfoTopLeft.large {
    width: 55%;
}

.creator.small {
    padding-left: 0.35em;
}

.creator.medium {

}

.creator.large {

}

.creatorIcon.small img {
    width: 1em;
    height: 1em;
}

.creatorIcon.medium img {

}

.creatorIcon.large img {
    width: 25px;
    height: 31px;
}

/* .creatorName.small {

}

.creatorName.medium {

}

.creatorName.large {

}

.owner.small {

}

.owner.medium {

} */

.owner.large {
    padding-right: 0.9em;
}

.ownerIcon.small img {
    width: 1em;
    height: 1em;
}
/* 
.ownerIcon.medium img {

} */

.ownerIcon.large img {
    width: 1.8em;
    height: 1.8em;
}

/* .ownerName.small {

}

.ownerName.medium {

}

.ownerName.large {

} */

.arrow-down.small {
    border-right: 0.75em solid transparent;
    border-top: 0.75em solid transparent;
    border-left: 0.75em solid white;
    border-bottom: 0.75em solid white;
}

.arrow-down.medium {
    border-right: 1.2em solid transparent;
    border-top: 1.2em solid transparent;
    border-left: 1.2em solid white;
    border-bottom: 1.2em solid white;
}

.arrow-down.large {
    border-right: 1.5em solid transparent;
    border-top: 1.5em solid transparent;
    border-left: 1.5em solid white;
    border-bottom: 1.5em solid white;
}

.edition.small {
    font-size: 0.65em;
    font-weight: 400;
}

.edition.medium {

}

.edition.large {
    font-size: 1em;
    font-weight: 600;
}

.greaseLoadedIntoAsset.small {
    font-weight: 300;
    font-size: 0.7em;
}

/* .greaseLoadedIntoAsset.medium {

}

.greaseLoadedIntoAsset.large {

}

.lowerCardInfoMiddle.medium {

} */

.lowerCardInfoMiddle.large {
    height: 210px;
}

.lowerCardInfoMiddle.small {
    height: 5em;
}
.lowerCardInfoMiddle.legendary.large{
    height: 18px;
}
.lowerCardInfoMiddle.legendary.large p {
    font-size: 10px;
    line-height: 13px;
    top: -6px;
    left: 20px;
    width: 250px;
}
.assetDescription.small {
    height: 5em;
    font-size: 0.6em;
    display: none;
}

.assetDescription.medium {
    
}

.assetDescription.large {
    padding-top: 30px;
}


.lowerCardInfoBottom.small {
    border-radius: 0px 0px 9px 9px;
}

.lowerCardInfoBottom.medium {

}

.lowerCardInfoBottom.large {

}

.assetHash.small {
    font-size: 0.1em;
    display: none;
}

.assetHash.medium {

}

.assetHash.large {
    font-size: 0.6em;
}

/* color schemes */

.upperCardInfo.unique,
.lowerCardInfoTop.unique,
.lowerCardInfoMiddle.legendary.unique {
    background: linear-gradient(90deg, #FFC700 34.8%, #665000 100%);
}
/* .card.unique.glow,
.card.unique:hover {
   filter: drop-shadow(0px 0px 10px #FFC700);
} */


.upperCardInfo.mythic,
.lowerCardInfoTop.mythic,
.lowerCardInfoMiddle.legendary.mythic {
   background: linear-gradient(90deg, #ef00ff 34.8%, #790971 100%);
}
/* .card.mythic.glow,
.card.mythic:hover {
   filter: drop-shadow(0px 0px 10px #ef00ff);
} */


.upperCardInfo.legendary{
    background: linear-gradient(90deg, #2300F8 34.8%, #410093 100%);
}
.lowerCardInfoTop.legendary,
.lowerCardInfoMiddle.legendary {
    background: linear-gradient(90deg, rgba(36, 0, 255, 0.9) 31.42%, rgba(126, 87, 194, 0.9) 100%);
}
.lowerCardInfoMiddle.legendary{
    margin: 0 0 0 50px;
    height: 12px;
    text-align: left;
}
.lowerCardInfoMiddle.legendary *{
    display: inline-block;
}
.lowerCardInfoMiddle.legendary p{
    color: white;
    font-size: 5px;
    line-height: 6px;
    position: relative;
    top: -12px;
    left: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.parallelogram {
	width: 10px;
	height: 20px;
	transform: skew(-45deg);
	background: white;
}
.parallelogram-2{
    margin-left: 10px;
}
.triangle-down{
	width: 0;
	height: 0;
	border-right: 20px solid transparent;
    border-top: 20px solid white;
    position: relative;
    top: -2px;
}
/* .card.legendary.glow,
.card.legendary:hover {
   filter: drop-shadow(0px 0px 10px #AD00EA);
} */


.upperCardInfo.epic,
.lowerCardInfoTop.epic,
.lowerCardInfoMiddle.legendary.epic {
   /* background: linear-gradient(90deg, #00B3DB 34.8%, #003743 100%); */
   background: linear-gradient(90deg, #00C02A 34.8%, #003C02 100%);
}
/* .card.epic.glow,
.card.epic:hover {
   filter: drop-shadow(0px 0px 10px #00B3DB);
} */


.upperCardInfo.rare,
.lowerCardInfoTop.rare {
   background: linear-gradient(90deg, #00CE21 34.8%, #00560E 100%);
}
.card.rare.glow,
.card.rare:hover {
   filter: drop-shadow(0px 0px 10px #00CE21);
}


.upperCardInfo.uncommon,
.lowerCardInfoTop.uncommon {
   background: linear-gradient(90deg, #ff8400 34.8%, #875806 100%);
}
.card.uncommon.glow,
.card.uncommon:hover {
   filter: drop-shadow(0px 0px 10px #ff8400);
}


.upperCardInfo.common,
.lowerCardInfoTop.common {
   background: linear-gradient(90deg, #DCDCDC 34.8%, #373737 100%);
}
.card.common.glow,
.card.common:hover {
   filter: drop-shadow(0px 0px 10px #DCDCDC);
}



/* color schemes */

/* GREEN MAYBE */
.upperCardInfo.scheme-8 {
    background: linear-gradient(90deg, #00FFC2 34.8%, #00372A 100%);
}
/* PURPLE MAYBE */
.upperCardInfo.scheme-9 {
    background: linear-gradient(90deg, #EFC1FF 34.8%, #5D3B69 100%);
}

